doctype html
html(lang="zh-Hant-TW")
  head
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title My gulpfile demo

  body

    include _partials/_header.pug

    h1 Hello World!
    p This gulp demo

    include _partials/_footer.pug
