doctype html
html(lang="zh-Hant-TW")
  head
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title My gulpfile demo
    link(rel="stylesheet" href="css/main.css")

  body

    include _partials/_header.pug

    .wrap
      h1 Hello World!!!!!!!
      p This gulp demo
      .box
        

    include _partials/_footer.pug
